.editor-icon-button {
  background: #fff;
  color: #000;
  padding: var(--spacing-2);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  box-sizing: border-box;
  width: 100%;
}

.editor-icon-button:hover {
  background: #f0f0f0;
}

.editor-icon-button:visited {
  color: #000;
}
.note-editor-toolbar {
  border-right: 1px solid #ccc;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
